
/.env.local
/.env.*.local
/.env.secrets
/.env.*.secrets
/.local/

*.phar
cookie*.txt

/vendor
/log/
/.aiassistant/chat/
/.aiassistant/messages/
/.aiassistant/tools/commit-msg.txt
/.aiassistant/temp/
/.phpunit.cache/test-results
/.nextcloudsync.log
/.phpunit.result.cache
